<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/reload/reload.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>ToDo</title>
  </head>
  <body class="">
    <%- include('header.ejs') %>

    <main class="grid grid-cols-6">
      <div class="col-start-3 col-span-2"><%- include('todos.ejs') %></div>
    </main>

    <%- include('footer.ejs') %>
  </body>
</html>
