<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Index page</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <main>
      <h2>My todos</h2>
      <ul>
        <% for (let i = 0; i < todos.length; i++) { %>
          <li>
            <a href="/todos/<%= todos[i].id %>">
              <%= todos[i].title %>
            </a>
          </li>
        <% } %>
      </ul>

    <% - include('footer.ejs') %>
  </body>
</html>
